.header {
  background: #000071;
}

.profile-pic {
  border: 3px solid white;
  background: white;
  display: inline-block;
  margin: 15px;
  border-radius: 15px;
  position: relative;
  box-shadow: 3px 3px 15px #bfbfbf inset;
}

.profile-pic img {
  width: 200px;
  height: 200px;
}

.water-mark-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-46deg);
  width: 100%;
  color: black;
  font-weight: 800;
  font-size: 24px;
  opacity: 40%;
}
